#homepage-map {
    height:800px;
    width:300px;
    margin:0;
    padding:0;
}

.btn {
    :hover;
}

.hidden {
    display: none;
}

#body {
    height: 100%;
    font-family: 'Catamaran', sans-serif;
}

#final-map {
    height:800px;
    width:500px;
    margin:0;
    padding:0;
}

#marker_map {
    height:800px;
    width:500px;
    margin:0;
    padding:0;
}

#business_image {
    height:400px;

    margin:0;
    padding:0;
}
