.map, #homepage-map {
    height:800px;
    width:500px;
    margin:0;
    padding:0;
}

.hidden {
    display: none;
}

#body {
    height: 100%;
}
#final-map {
    height:800px;
    width:500px;
    margin:0;
    padding:0;
}

#marker_map {
    height:800px;
    width:500px;
    margin:0;
    padding:0;
}

#right-panel {
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}