#homepage-map {
    height:600px;
    width:500px;
    margin:0;
    padding:0;
}

.btn {
    :hover;
}

.hidden {
    display: none;
}

#body {
    height: 100%;
    background-image: url(/static/grey.png);
    padding-bottom: 40px;
}

#final-map {
    height:800px;
    width:500px;
    margin:0;
    padding:0;
}

#marker_map {
    height:800px;
    width:500px;
    margin:0;
    padding:0;
}

#business_image {
    height:400px;
    margin:0;
    padding:0;
}

.navbar {
    padding-top: 60px;
    top: 0;
    width: 100%;
    height: 40px;
    color: #4527A0;
}

.navbar-text {
    color: #ffffff;
}

.col-centered{
    float: none;
    margin: 0 auto;
    :overflow;
}
