<!doctype html>
<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <title> ActivityChooser </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
     <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAZPdIeAGcyvKhKXgAqaNbsyEz4Sg1qBX4"></script>
    <!--  // <script src="http://maps.googleapis.com/maps/api/js?libraries=places"></script> -->
<!--      // <script src="jquery.geocomplete.min.js"></script> -->
    <link rel="stylesheet" href="static/stylesheet.css">
{% block extra_js %}{% endblock %}

</head>
<body id="body">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
{% block content %} Put your body here. 

{% endblock %}






</body>
</html>
