{% extends 'base.html' %}

{% block extra_js %}
<script type="text/javascript" src="static/choose_activity.js"></script>
{% endblock %}
{% block content %}

<br>
<body>
<h3> Here are suggestions for businesses that satisfy your activity selection. Please choose one to visit between you reach your destination.</h3>
    <!-- only have this print if an activity is in their route  -->


Please choose one:  
<br>

use JavaScript to put the yelp activities based on the user's location preference 
-AJAX call for json blob can call the start_oAuth function here 
<div id="activity_types">
</div> 


<input type="hidden" id="end_lat" name="end_lat" value="{{ end_lat }}"/> 
<input type="hidden" id="end_lng" name="end_lng" value="{{ end_lng }}"/>
<input type="hidden" id="user_lat" name="user_lat" value="{{ user_lat }}"/> 
<input type="hidden" id="user_lng" name="user_lng" value="{{ user_lng }}"/>

<div id= "halfwayLat">
    <input type="text" id="halfway_lat" name="halfway_lat" value=""/> 
</div>
<div id= "halwayLng">
    <input type="text" id="halfway_lng" name="halfway_lng" value=""/>
</div>

<br>

<br>
    <input type="submit" value="Continue">
</form>



<!-- Map of each location on a map -->
<div id= "marker_map" type="hidden"></div>


<!-- put navbar similar to Angular demo where the next html page of route options is a tab -->
</body>

{% endblock %}


