{% extends 'base.html' %}

{% block extra_js %}
<script type="text/javascript" src="static/choose_activity.js"></script>
{% endblock %}
{% block content %}

<br>
<body>
<h3> Here are suggestions for businesses that satisfy your activity selection. Please choose one to visit between you reach your destination.</h3>
    <!-- only have this print if an activity is in their route  -->


Please choose one:  
<br>

{% for business in activity %}
    <br>
    <br>
    <form action="/choose", method="POST" >
        <input type= "radio" name="business_phone" value="{{ business.phone }}"> 
        {{ business.name }}
        {{ business.categories.title }} <br>
        {{ business.phone }} <br>
        {{ business.address.address1 }}
        {{ business.address.city }} 
        {{ business.address.zipcode }}<br>
<!--         {{ business.coordinates.lat }}
        {{ business.coordinates.lng }} -->

        <input type="hidden" id="business_name_{{business.phone}}" value="{{business.name}}" name="business_name_{{business.phone}}"/>
        <input type="hidden" id="business_coordinate_lat_{{business.phone}}" value="{{business.coordinates.lat}}" name="business_lat_{{business.phone}}"/>
        <input type="hidden" id="business_coordinates_lng" value="{{business.coordinates.lng}}" name="business_lng_{{business.phone}}"/>
{% endfor %}
<!-- how to get the end location from the address the user put in here  -->
<input type="hidden" id="end_lat" name="end_lat" value="{{ end_lat }}"/> 
<input type="hidden" id="end_lng" name="end_lng" value="{{ end_lng }}"/>
<input type="hidden" id="user_lat" name="user_lat" value="{{ user_lat }}"/> 
<input type="hidden" id="user_lng" name="user_lng" value="{{ user_lng }}"/>


<br>

<br>
    <input type="submit" value="Continue">
</form>



<!-- Map of each location on a map -->
<div id= "marker_map" type="hidden"></div>


<!-- put navbar similar to Angular demo where the next html page of route options is a tab -->
</body>

{% endblock %}


