{% extends 'base.html' %}
{% block extra_js %}
<script type="text/javascript" src="static/final_page.js"></script>
{% endblock %}
{% block content %}
<div id ="final-map"> </div><div id="right-panel"></div> <!-- want right panel to appear next to the map -->
<p>Here is the suggested route between your current location to {{ business_name }} to your final destination. </p>

<div id = "business_info"> 
    <h3>{{ business_name }}</h3>
    <h3>{{ business_rating }}</h3> 
    <h3> {{ business_image_url }}</h3>
    <h3><img src="{{ business_image_url }}"></h3>
</div>

<!-- see developers guide for waypoints --> 
<form>
    <input type="hidden" id="business_name" value="business_name" name="{{ business_name }}"/>
    <input type="hidden" id="activity_lat" value="{{ activity_lat }}" name="{{ activity_lat }}"/>
    <input type="hidden" id="activity_lng" value="{{ activity_lng }}" name="{{ activity_lng }}"/>


    <input type="hidden" id="user_lat" name="user_lat" value="{{ user_lat }}"/>
    <input type="hidden" id="user_lng" name="user_lng" value="{{ user_lng }}"/>
    <input type="hidden" id="end_lat" name="end_lat" value="{{ end_lat }}"/>
    <input type="hidden" id="end_lng" name="end_lng" value="{{ end_lng }}"/>
</form>
{% endblock %}


