{% extends 'base.html' %}
{% block content %}


<!-- values are selected from Google Places API -->
<form action= "/activity_time" method="POST">
    Please fill out the following fields:
    <br>
    <br>
    <br>
        <label for="end_location">Where do you want to go? <input type= "text" name = "end_location"></label>
    <br>
        <label for="arrival_time">When do you want to be there? <input type="time" name="arrival_time" value="16:00"></label> 
    <br>
    <br>

    Select a type of activity you want to do in between:
    <br>
        <div name="activity_type" id="activity_type">
            {% for name in names %} 
            <br>
<!--                 <option value="{{name[0]}}"> {{ name[0] }} </option> -->
                <input type = "checkbox" name="activity_type" value="{{name[0]}}"> {{ name[0] }}
            <br>
        {% endfor %}
        </div>

<br>
<br>
<br>
<input type="submit" id="submit" value="Let's get started">

<div id="homepage-map" class="homepage-map"></div> 

<!-- fixed css and html so that these values are hidden now! -->
<label class="hidden">lat</label><input type= "text" id="lat" name="lat" value="" class="hidden" />
<label class="hidden">lng</label><input type= "text" id="lng" name="lng" value="" class="hidden" />
</form>




{% endblock %}
{% block extra_js %}
<script src="/static/working_name.js"></script>

{% endblock %}