{% extends 'base.html' %}
{% block extra_js %}
<script type="text/javascript" src="static/homepage.js"></script>
{% endblock %}
{% block content %}


<!-- values are selected from Google Places API -->
<div class="container-fluid"><form action= "/activity_time" method="POST">
    <h3>This app will take your activity selection into consideration and provide you with one option from each activity type you choose below. </h3>
    To continue, please fill out the following fields:
    <br>
    <br>
    <br>
        <label for="end_location">Where do you want to go?<br> 
        Please enter an address. <input type="text" name="end_location" id="end_location"></label></input>
    <br>
        <label for="arrival_time">When do you want to be there? <input type="time" name="arrival_time" value="16:00"></label></input>
    <br>
    <br>

    Select a type of activity you want to do in between:
    <br>
    <br>

        <div name="activity_type" id="activity_type" class="row">
            {% for name in names %} 
            <br>
                <div class="col-xs-4">
                    <input type = "checkbox" name="activity_type" value="{{name[0]}}"> {{ name[0] }}
                </div>  
            <br>
        {% endfor %}
        </div>
        <br>

    Do you prefer an activity...<br><br>
    <div id="activity_location_preference" class=>
        <select name="activity_location_preference">
            <option value="near_user"> Closer to your current location </option><br>
            <option value="near_end_location" selected="near_end_location"> Closer to your destination </option><br>
        </select>
    </div>
    <br>
    <br>
    <br>


    <div id="homepage-map" class="homepage-map"></div> 

    <label class="hidden">lat</label><input type="hidden" id="lat" name="user_lat" value=""/>
    <label class="hidden">lng</label><input type="hidden" id="lng" name="user_lng" value=""/>
    <br><br><br>
    <input type="submit" id="submit" value="Let's get started"><br>
</form>



{% endblock %}